
fleamarket/.idea/vcs.xml
fleamarket/.idea/caches/build_file_checksums.ser
fleamarket/.idea/caches/gradle_models.ser
fleamarket/.idea/gradle.xml
fleamarket/.idea/misc.xml
fleamarket/.idea/modules.xml
fleamarket/app/build.gradle
fleamarket/gradle/wrapper/gradle-wrapper.properties
fleamarket/build.gradle
fleamarket/.idea/modules.xml
fleamarket/.idea/misc.xml
fleamarket/.idea/gradle.xml
fleamarket/.idea/gradle.xml
fleamarket/.idea/misc.xml
fleamarket/.idea/modules.xml
fleamarket/.idea/modules.xml
fleamarket/app/src/main/AndroidManifest.xml
fleamarket/app/src/main/res/xml/networksecurityconfig.xml
fleamarket/build.gradle
fleamarket/gradle/wrapper/gradle-wrapper.properties
fleamarket/gradle/wrapper/gradle-wrapper.properties
fleamarket/gradlew
fleamarket/build.gradle
fleamarket/app/src/main/res/values/colors.xml
fleamarket/app/src/main/res/drawable/ic_add_circle_outline_black_24dp.xml
fleamarket/app/build.gradle
fleamarket/.idea/runConfigurations.xml
fleamarket/.idea/modules.xml
fleamarket/.idea/misc.xml
fleamarket/.idea/gradle.xml
ShoppingList/.idea/misc.xml
ShoppingList/.idea/gradle.xml
ShoppingList/.idea/caches/gradle_models.ser
ShoppingList/.idea/caches/build_file_checksums.ser
fleamarket/build.gradle
ShoppingList/build.gradle
ShoppingList/.idea/vcs.xml
fleamarket/build.gradle
ShoppingList/.idea/caches/build_file_checksums.ser
ShoppingList/.idea/caches/gradle_models.ser
ShoppingList/.idea/gradle.xml
ShoppingList/.idea/misc.xml
ShoppingList/.idea/modules.xml
ShoppingList/.idea/runConfigurations.xml
ShoppingList/.idea/vcs.xml
ShoppingList/build.gradle
fleamarket/app/src/main/res/layout/activity_main.xml
